<form action="/users" method="post">
  <%=token_tag%>
  <input type="text" name="user[username]" placeholder="username">
  <input type="text" name="user[password]" placeholder="password">
  <input type="submit">
</form>