<h1><%= @user.username %></h1>

<h3>To edit, click <a href="/users/<%=@user.id%>/edit">here</a>.</h3>

<h3>To delete, click</h3>

<form class="showform" action="/users/<%=@user.id%>" method="post">
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

